.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .ign h1 {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
  }

  .headimgg {
    width: 100%;
  }

  .nextt h1 {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-align: center;
  }

  .nextt p {
    font-size: 13px;
    line-height: 28px;
    text-align: center;
  }
  .headtext {
    margin-top: 20px;
  }

  .ign {
    max-width: 324px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .ign img {
    width: 115px;
    /* margin-right: 40px; */
  }

  .next5 h6 {
    margin: 0;
  }

  .headtext h1,
  .headtext h2 {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }

  .mobile {
    display: block;
  }

  .next4img .mainimg {
    width: 100%;
  }
  .topnav ul {
    display: none;
  }

  .btnreg1 {
    display: none;
  }

  .next77 p {
    font-size: 12px;
    max-width: 286px;
  }

  .next77 h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .next7 {
    max-width: 300px;
    padding: 20px;
    margin: 20px auto;
  }

  .next7rec {
    height: 30px;
  }

  .sponsors2,
  .sponsors1 {
    gap: 50px;
  }

  .next7rec2,
  .next7rec22 {
    width: 70px;
  }

  .sponsors2 img,
  .sponsors1 img {
    max-width: 40px;
  }

  .headbody {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .headrec .img1 {
    width: 18px;
    height: 26px;
    right: 10%;
    top: -20px;
    right: 20px;
  }

  .imgg img {
    width: 30px;
  }

  .headtext {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headtext p {
    padding: 10px 40px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }

  .countrec {
    margin: 20px;
  }

  .countdown p {
    font-family: Unica One;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 0;
    padding: 0;
  }
  .headimgg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .next1 {
    display: flex;
    flex-direction: column;
  }

  .nextt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .next2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .next3 {
    display: flex;
    flex-direction: column;
  }

  .recimg21 {
    bottom: 350px;
  }

  .next3text h3 {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  .next3text p {
    font-size: 13px;
    line-height: 22.57px;
    text-align: center;
  }

  .next4text h1 {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  .next4text p {
    font-size: 12px;
    line-height: 28px;
  }

  .kk {
    font-size: 12px;
    line-height: 28px;
    text-align: center;
  }

  .next3text {
    text-align: center;
  }

  .left11 h1 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  .left11 p {
    font-size: 12px;
    line-height: 23px;
    text-align: center;
  }

  .leftbord {
    padding: 10px;
  }

  .checkp {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }

  .foot1 h1 {
    font-size: 20px;
    line-height: 25px;
  }

  .foot1 p {
    font-size: 12px;
    line-height: 21px;
  }

  .foot2 p {
    font-size: 12px;
    line-height: 21px;
  }

  .next4 {
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
  }

  .next4text {
    width: 90%;
  }

  .next4img {
    margin-top: 50px;
  }

  footer {
    display: flex;
    flex-direction: column;
    /* padding: 15% 20%; */
  }

  .security {
    text-align: center;
    flex-direction: column;
  }

  .security .left,
  .rightt {
    width: 100%;
  }
  .rewtext {
    padding: 100px 5px 20px;
  }

  .next6 {
    flex-direction: column;
    justify-content: center;
  }
}
